@model AddProductForm
@{
    ViewData["Title"] = "Add Product";
}

<div class = "row">
    <div class = "col-6 offset-3">
        <h2 class="heading-margin text-center">Add Product</h2>
        <form method = "post">
  <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" placeholder="PS4, Xbox One">
    <span asp-validation-for = "Name" class="small text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description"></label>
    <textarea asp-for="Description" class="form-control" placeholder="Best game ever !!">
        <span asp-validation-for = "Description" class="small text-danger"></span>
        </textarea>
  </div>
  <div class="form-group">
    <label asp-for="PictureURL"></label>
    <input asp-for="PictureURL" class="form-control" placeholder="Picture URL">
    <span asp-validation-for = "PictureURL" class="small text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Price"></label>
    <input asp-for="Price" class="form-control" placeholder="$25.99">
    <span asp-validation-for = "Price" class="small text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="ProductTypeId"></label>
    <select asp-for="ProductTypeId" class ="form-control">
    @foreach(var types in Model.ProductTypes)
    {
     <option value="@types.Id">@types.Name</option>
    }
     </select>
  </div>
  <input class = "btn btn-outline-success" type="submit" value="Save" />
</form>